{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="pagina-inicial">
    <main class="principal">
        
        {% if detail %}
        
        <section class="conteudo">
            <section class="imagem">
                <div class="imagem__conteudo">
                    <img class="imagem__imagem" src="{{ detail.photo.url }}">
                    <div class="imagem__info">
                        <div class="imagem__texto">
                            <p class="imagem__titulo">{{ detail.title }}</p>
                            <p class="imagem__descricao">{{ detail.date }}</p>
                            <p class="imagem__texto">{{ detail.description }}</p>
                        </div>
                    </div>
                </div>
                
            </section>
        </section>
       
        {% endif %}
    </main>
</div>

{% endblock %}